root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,js,ts}]
indent_style = space
indent_size = 2
max_line_length = 72

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2
max_line_length = 72

[*.{sh,bash}]
max_line_length = 72
indent_style = tab
tab_width = 2

[*.{adoc}]
max_line_length = 0;

[Makefile]
indent_style = tab
tab_with = 2
